div span .glyphicon .glyphicon-menu-hamburguer{
  color: grey;
}
header div ul a{
  color: black;
}
header div ul a:hover{
  text-decoration-line: none;
  color: #f7b617;
}

.lab {
  background: #f7b617;
  color: #fff;
}

#info div .col-md-10 {
  border: white 1px solid;
}
